<div class = "no_seats_selected"><%= label_tag :error, '', :id => 'error_label', :class => "error_class" %></div>
<div class = "box">
	<%= form_tag seats_confirmation_movie_show_seats_path(@movie_show.id), :remote => true, :method => :get do %>
		<div class = "check">
			<table>
				<% seats = @audi.seats %>
				<% 3.times do  |row_num| %>
					<tr >
            		<% 5.times do |col_num| %>
              			<% seat_num = (col_num + 1) + (row_num * 5) %>
              			<% if 	seats.include? @booked_seats %>
                			<td style = "background-image:url('/assets/grey.jpg')"></td>
              			<% else %>
					      <td class= "row<%= row_num +  1 %>"><%= seats[seat_num-1].seat_no %><%= check_box_tag 'selected_seats[]', seats[seat_num-1].seat_no %></td>
              			<% end %>
            		<% end %>
				  	</tr>
        		<% end %>
			</table>
		</div>
		<%= hidden_field_tag '', {}, :value => @movie_show.id, :name => 'movie_show_id' %> 
		<div class = "submit">
			<%= submit_tag 'BOOK' %>
		</div>
	<% end %>
	<div class = "legend">
		<img src = "/assets/red.jpg">Platinum (Rs.250/-)<br>
		<img src = "/assets/blue.png">Gold (Rs.200/-)<br>
		<img src = "/assets/green.png">Silver (Rs.150/-)<br>
		<img src = "/assets/grey.jpg">Unavailable
	</div>
	<div class = "screen">
		<b>SCREEN THIS WAY</b>
	</div>
</div>
