<h1>Welcome to seat selection,</h1>
<div id = "movie_poster">
	<% movie_poster = @movie_show.movie.image_url %> 
	<%= image_tag(movie_poster) %>
</div>
<div id = "info">
	<b>Movie:</b>
			<%= @movie_show.movie.name %><br>
	<b>Date:</b>
			<%= @movie_date %><br>
	<b>Timing:</b>	
			<%= @timing %><br>
	<b>Theatre:</b>		
			<%= @theatre%>
		<div id = "audi_layout">
			<button onclick = "show_audi_layout()">Audi layout</button>
		</div>
</div>
<div class = "hidden">
	<%= render 'seat_map' %>
</div>
<div display = "none" id = "outer">
<div class = "modal1" id = "testing">
</div>
</div>
