<div id = "show_box">
    <div style= "text-align: center"><h1> Add Shows</h1></div>
<div id = "add_shows">
    <%= form_tag add_shows_admins_path do %>
        <div>
            <div><b>Enter Theatre  :</b></div><%= text_field_tag "theatre" %>
        </div>
        <div>
            <div><b>Enter Movie    :</b></div><%= text_field_tag "movie" %>
        </div>
        <div>
            <div><b>Enter ShowTime :</b></div><%= select_tag "showtime", options_for_select(["09:00", "13:00", "21:00"]) %>
        </div>
        <div>
            <div><b>Enter Date     :</b></div><%= text_field_tag "date"%>
        </div>
        <div>
            <%= submit_tag "Add Show" %>
        </div>
    <% end %>
</div>
</div>