  <div class = "outer_div">
  <div align = "center">
<table class = "bookings_table" border =2>
  <tr>
    <th>
      Booking id
    </th>
    <% if session[:admin] %>
    <th>
      Customer email
    </th>
    <th>
      Customer Name
    </th>
    <% end %>
    <th>
      Movie
    </th>
    <th>
      Timings
    </th>
    <th>
      Location
    </th>
    <th>
      Seat No.
    </th>
    <th>
      Amount
    </th>
    <th>
      Booking Date
    </th>
  </tr>
	<% @bookings.each do |booking| %>
    <tr>
      <td>
        <%= booking.id %>
      </td>
      <% if session[:admin] %>
        <td>
          <%= booking.user.email %>
        </td>
        <td>
          <%= booking.user.name %>
        </td>
        <% end %>
      <td>
        <%= booking.movie_show.movie.name %>
      </td>
      <td>
        <%= booking.movie_show.timing.ctime %> 
      </td>
      <td>
        <%= booking.movie_show.audi.theatre.location %>
      </td>
      <td>
        <%= booking.seat_num %>
      </td>
      <td>
        &#8377; <%= booking.sub_total %>
      </td>
      <td>
        <%= booking.created_at.ctime %>
      </td>      
    </tr>
  <% end %>
</table>
</div>
</div>