<%= flash[:notice] %>
<%= form_tag '/change_password' do %>
    <fieldset>
       <legend>Enter Details</legend>
      <div class ="field">
        <%= label_tag :existing_password, 'Enter existing password:' %>
        <%= password_field_tag :existing_password, params[:existing_password] %>
        
      </div>
      <div class ="field">
        <%= label_tag :password, 'Enter new password:' %>
        <%= password_field_tag :password, params[:password] %>
      </div>
      <div class ="field">
        <%= label_tag :password_confirmation, 'Confirm new password:' %>
        <%= password_field_tag :password_confirmation, params[:password_confirmation] %>
      </div>
      <div class ="field">
        <%= button_tag "change password" %>
      </div>
    </fieldset>
  <% end %>