<div id = "theatre_box">
    <div style= "text-align: center"><h1><u>Add theatre</u></h1></div>
    <div id= "add_theatre">
        <%= form_for @theatre, :url => admin_theatres_url do |f| %>
            <div class = "tfield"><b>Enter Theatre Location :</b></div><div class ="tfield"><%= f.text_field :location%>
            <%= @theatre.errors.messages[:location].try(:first) %>
        </div><br>
            <div class ="tfield"><b>No of Audis :</b></div><div class ="tfield"><%= f.select :no_of_audis, options_for_select(get_no_of_audis, :selected => @theatre.no_of_audis)%><%= @theatre.errors.messages[:no_of_audis].try(:first) %></div>
            <div style = "position: relative; top: 50px;"><%= f.submit %></div>
        <% end %>
    </div>
</div>