<!DOCTYPE html>
<html>
<head>
  <title>Ticketkhidki</title>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", "application" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class = "header">
	<h1><u>TicketKhidki</u></h1>
		<% user = User.find(session[:user_id]) %>
		<div class = "name">
			<p> Welcome  <%= user.name.capitalize %>,</p> <p> Wallet: &#8377; <%= user.wallet.money %> </p>
		</div>
		<%= link_to 'Home', admin_dashboard_path %>
		<%= link_to 'Logout', logout_path, method: :delete%>
		<%= link_to 'change password', admin_change_password_path %>
</div>
<div id = "dashboard">
	<ul>
		<li><%= link_to "Bookings Log", log_admin_bookings_path%></li>
		<li><%= link_to "Theatre log", log_admin_theatres_path %></li>
		<li><%= link_to "Create Show/s", new_admin_movie_show_path %></li>
		<li><%= link_to "Manage Theatres", admin_theatres_path %></li>
</div>
<% flash.each do |key, msg| %>
       <%= content_tag :div, msg, :id => key %>
     <% end %>
<%= yield %>
</body>
</html>