<!DOCTYPE html>
<html>
<head>
  <title>Ticketkhidki</title>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", "application" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class = "header">
	<h1><u>TicketKhidki</u></h1>
	<% if session[:user_id] %>
		<% user = User.find(session[:user_id]) %>
		<% if session[:admin] %>
		<%= link_to "Bookings Log", admins_path, :class => "logout" %>
		<div class = "theatre_log"><%= link_to "Theatre log", theatre_log_admins_path %></div>
		<div class = "home"><%= link_to 'Home', admin_path(session[:user_id]) %></div>
		<% else %>
		<%= link_to "My Bookings", bookings_path, :class => "logout" %>
		<div class = "home"><%= link_to 'Home', shows_path%></div>
		<% end %>
		<%= link_to 'Logout', logout_path, method: :delete, :class => "logout" %>
		<div class = "name">
			<p> Welcome  <%= user.name %>,  Wallet: &#8377; <%= user.wallet.money %> </p>
		</div>
		<div class = "change_password">
			<%= link_to 'change password', change_password_path %>
		</div> 
	<% end %>
</div>
<% flash.each do |key, msg| %>
       <%= content_tag :div, msg, :id => key %>
     <% end %>
<%= yield %>
</body>
</html>