<!DOCTYPE html>
<html>
<head>
  <title>Ticketkhidki</title>
  <%= stylesheet_link_tag    "application", params[:controller] %>
  <%= javascript_include_tag "application", params[:controller] %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class = "header">
	<h1><u>TicketKhidki</u></h1>
	<% if session[:user_id] %>
		<% user = User.find(session[:user_id]) %>
		<% if session[:admin] %>
		<%= link_to "Bookings Log", admins_path, :class => "logout" %>
		<% else %>
		<%= link_to "My Bookings", bookings_path, :class => "logout" %>
		<% end %>
		<%= link_to 'Logout', logout_path, method: :delete, :class => "logout" %>
		<div class = "name">
			<p> Welcome  <%= user.name %>,  Wallet: &#8377; <%= user.wallet.money %> </p>
		</div>
		<div class = "change_password">
			<%= link_to 'change password', change_password_path %>
		</div> 
	<% end %>
</div>
<% flash.each do |key, msg| %>
       <%= content_tag :div, msg, :id => key %>
     <% end %>
<%= yield %>
</body>
</html>